{% spaceless %}
	{% set blockId = blockId|default("gunny_float_left") %}
	{% set blockIdPostFix = blockIdPostFix|default("") %}
	<div id="{{ blockId }}{{ blockIdPostFix }}" class="floatleft {{ blockId }} scrollFrame scaleMobile scaleDesktop desktop" data-block-id="{{ blockId }}">
		<div
			class="floatleft__background">
			{# NOTE: add background images and video here #}
			<span id="{{ blockId }}{{ blockIdPostFix }}-scrollwatch-pin" class="scrollwatch-pin"></span>
		</div>
		<div class="floatleft__content">
			<ul class="left">
				<li>
					<a href="#" class="item1">Giới Thiệu</a>
				</li>
				<li>
					<a href="#" class="item2">Giải Thưởng</a>
				</li>
				<li>
					<a href="#" class="item3">Thể Lệ</a>
				</li>
				<li>
					<a href="#popup-content" class="item4" data-popup>Hướng Dẫn</a>
				</li>
				<li>
					<a href="#" class="item5">Bảng Xếp Hạng</a>
				</li>
				<li>
					<a href="#" class="item6">Tham Gia</a>
				</li>

			</ul>
		</div>
	</div>
{% endspaceless %}
