{% spaceless %}
	{% set blockId = blockId|default("gunny_float_bottom") %}
	{% set blockIdPostFix = blockIdPostFix|default("") %}
	<div id="{{ blockId }}{{ blockIdPostFix }}" class="floatbottom {{ blockId }} scrollFrame scaleMobile scaleDesktop mobile" data-block-id="{{ blockId }}">
		<div
			class="floatbottom__background">
			{# NOTE: add background images and video here #}

			<span id="{{ blockId }}{{ blockIdPostFix }}-scrollwatch-pin" class="scrollwatch-pin"></span>
		</div>
		<div class="floatbottom__content">
			<ul class="bottom">
				<li class="bottom-text">Giới Thiệu</li>
				<li class="bottom-text">Giải Thưởng</li>
				<li class="bottom-text">Thể Lệ</li>
				<li class="bottom-text">Hướng Dẫn</li>
				<li class="bottom-text">Bảng Xếp Hạng</li>
				<li class="bottom-text">Tham Gia</li>
			</ul>
		</div>
	</div>
{% endspaceless %}
