{% spaceless %}
	{% set blockId = blockId|default("gunny_frame2") %}
	{% set blockIdPostFix = blockIdPostFix|default("") %}
	<section id="{{ blockId }}{{ blockIdPostFix }}" class="section section--{{ blockId }} {{ blockId }} scrollFrame" data-block-id="{{ blockId }}">
		<div
			class="section__background">
			{# NOTE: add background images and video here #}
			<img data-src="gunny/frame2/images/bg.jpg" alt="" class="lazyload desktop">
			<img data-src="gunny/frame2/images/bg-mobile.jpg" alt="" class="lazyload mobile">
			<span id="{{ blockId }}{{ blockIdPostFix }}-scrollwatch-pin" class="scrollwatch-pin"></span>
		</div>
		<div class="section__content">
			<div class="inner inner--{{ blockId }}">
				<img
				src="gunny/frame2/images/title.png" alt="" class="title">
				{# NOTE: add component's content here #}
				<div class="ranking-top-container">
					<div id="rank2-scrollWatch" class="ranking-top ranking-2nd">
						<div class="crown"></div>
						<div class="ranking-title">Username123</div>
						<img src="gunny/frame2/images/ava-3rd.jpg" alt="">
						<div class="text-container">
							<div>Máy Chủ:
								<span>Gunny 12</span>
							</div>
							<div>Số lần đã săn:
								<span>1200</span>
							</div>
						</div>
					</div>
					<div id="rank1-scrollWatch" class="ranking-top ranking-1st">
						<div class="crown"></div>
						<div class="ranking-title">Username123</div>
						<img src="gunny/frame2/images/ava-1st.jpg" alt="">
						<div class="text-container">
							<div>Máy Chủ:
								<span>Gunny 12</span>
							</div>
							<div>Số lần đã săn:
								<span>1200</span>
							</div>
						</div>
					</div>
					<div id="rank3-scrollWatch" class="ranking-top ranking-3rd">
						<div class="crown"></div>
						<div class="ranking-title">Username123</div>
						<img src="gunny/frame2/images/ava-2nd.jpg" alt="">
						<div class="text-container">
							<div>Máy Chủ:
								<span>Gunny 12</span>
							</div>
							<div>Số lần đã săn:
								<span>1200</span>
							</div>
						</div>
					</div>
				</div>
				<div class="ranking-swiper-container">
					<div id="rankingSwiper" class="swiper ranking-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ranking-nor">
									<div class="ranking-title">Username123</div>
									<img src="gunny/frame2/images/ava-nor.jpg" alt="">
									<div class="text-container">
										<div>Máy Chủ:
											<span>Gunny 12</span>
										</div>
										<div>Số lần đã săn:
											<span>1200</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="swiper-button-prev swiper-button-prev--rankingSwiper"></button>
					<button class="swiper-button-next swiper-button-next--rankingSwiper"></button>
				</div>
				<img data-src="gunny/frame2/images/character-left.png" alt="" class="lazyload character-left">
				<img data-src="gunny/frame2/images/character-right.png" alt="" class="lazyload character-right">
			</div>
		</div>
	</section>
{% endspaceless %}
